div{
    width:100%;
    color:blue;
    font-weight:bolder;
}
#show_sketch{
    float:right;
}
h3{
    font-weight:bolder;
}
p{
    font-size: medium;
    font-weight:bold;
}
body{
    background-color:aqua;

}
h1{
    color:darkred;
    background-color:yellow;
    text-align:center;
}
#show_sketch{
    float:right;

}
canvas{
    border:5px solid white;
    border-radius:5px;
    animation-name:Sketch;
    animation-duration:4s;
    animation-iteration-count: infinite;
    margin: 100px;

}
@keyframes Sketch{
    from{box-shadow: 1px, 1px, 38px, grey;}
    to{box-shadow: 1px, 1px, 38px white;}
}

p{
    padding-top:10px;
    font-size:25px;

}